
.forecast {
    color: white;
    font-weight: bolder;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.currentWeather {
    display: flex;
    flex-direction: column;

}

.contentList {
    width: 40vh;
    margin: 0 auto;

}


.contentList li {
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;

}

.temp {
    margin-left: auto;
}

#city {
    display: contents;
    margin: 0 auto
}